body {
  margin: 0;
  padding: 2rem 0;
  width: 100%;
  background:blue;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

main {
  background: white;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  padding: 2rem 0;
}

h1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  font-style: italic;
  color:#FFBA00;
}

.artObject {
  position: relative;
  max-width: 30%%;
  max-height: 20rem;
  margin: 0 auto;
  }

h2 {
  margin: auto;
  color: #FFBA00;
  font-style: oblique;
}
.artObjectone {
  position: relative;
  max-width: 20%;
 }

 h3 {
   margin: auto;
   color: red;
   font-style: normal
 }
